<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Menu Kwitansi</nz-breadcrumb-item>
</nz-breadcrumb>
<a (click)="printData(null)" class="addIcon"><i nz-icon type="printer" theme="outline"></i>&nbsp; Print All</a>
<!-- show form -->
<!-- <form *ngIf="isShowForm" nz-form [formGroup]="formData" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tglKwitansi" nzRequired><span>Tgl Kwitansi</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <nz-date-picker [nzFormat]="dateFormat" id="tglKwitansi" formControlName="tglKwitansi"></nz-date-picker>
            <nz-form-explain *ngIf="formData.get('tglKwitansi').dirty && formData.get('tglKwitansi').errors">
                <ng-container *ngIf="formData.get('tglKwitansi').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="jmlBayar" nzRequired><span>Jml Bayar</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="jmlBayar" formControlName="jmlBayar">
            <nz-form-explain *ngIf="formData.get('jmlBayar').dirty && formData.get('jmlBayar').errors">
                <ng-container *ngIf="formData.get('jmlBayar').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="noInvoice" nzRequired><span>No Invoice</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="noInvoice" formControlName="noInvoice">
            <nz-form-explain *ngIf="formData.get('noInvoice').dirty && formData.get('noInvoice').errors">
                <ng-container *ngIf="formData.get('noInvoice').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" [disabled]="!formData.valid">Save</button>
        </nz-form-control>
    </nz-form-item>
</form> -->

<!-- table data -->
<nz-table #nzTable [nzData]="tableData" [nzPageSize]="10">
  <thead>
    <tr>
      <th>Tgl Kwitansi</th>
      <th>No Customer</th>
      <th>Nama Customer</th>
      <th>No Kwitansi</th>
      <th>No Invoice</th>
      <th>Jml Bayar</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="nzTable.data">
      <tr>
        <td>{{data.tglKwitansi | date : 'dd-MM-yyyy'}}</td>
        <td>{{data.invoice.pemesanan.customer.noCustomer}}</td>
        <td>{{data.invoice.pemesanan.customer.namaCustomer}}</td>
        <td>{{data.noKwitansi}}</td>
        <td>{{data.invoice.noInvoice}}</td>
        <td>{{data.jmlBayar}}</td>
        <td>
          <a (click)="printData(data)"><i nz-icon type="printer"></i></a>
          <!-- <a nz-popconfirm nzTitle="Anda yakin ingin menghapus data ini?" (nzOnConfirm)="deleteData(data.id)" (nzOnCancel)="cancelDelete()" nzPlacement="top"><i nz-icon nz-tooltip nzTitle="Delete" type="delete" style="color: red; margin-left: 5px;" theme="outline"></i></a> -->
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
