<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>Menu Laporan Pengiriman Barang</nz-breadcrumb-item>
</nz-breadcrumb>
<form nz-form [formGroup]="formData" (ngSubmit)="submitForm($event)">
    <nz-form-item>
        <nz-form-label [nzSm]="5" [nzXs]="10" nzFor="startDate" nzRequired><span>Start Date</span></nz-form-label>
        <nz-form-control [nzSm]="5" [nzXs]="10">
            <nz-date-picker [nzFormat]="yyyy-MM-dd" id="startDate" formControlName="startDate"></nz-date-picker>
            <nz-form-explain *ngIf="formData.get('startDate').dirty && formData.get('startDate').errors">
                <ng-container *ngIf="formData.get('startDate').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
        <nz-form-label [nzSm]="2" [nzXs]="10" nzFor="endDate" nzRequired><span>End Date</span></nz-form-label>
        <nz-form-control [nzSm]="5" [nzXs]="10">
            <nz-date-picker [nzFormat]="yyyy-MM-dd" id="endDate" formControlName="endDate"></nz-date-picker>
            <nz-form-explain *ngIf="formData.get('endDate').dirty && formData.get('endDate').errors">
                <ng-container *ngIf="formData.get('endDate').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
        <nz-form-control [nzSm]="2" [nzXs]="10">
            <nz-form-control [nzSm]="5" [nzXs]="10" [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary" [disabled]="!formData.valid">Cari</button>
            </nz-form-control>
        </nz-form-control>
    </nz-form-item>
</form>

<!-- table data -->
<div id="contentToPDF" *ngIf="showTable">
    <h1 class="titleLaporan">Laporan Pengiriman Barang</h1>
    <a (click)="printData(null)" class="addIcon"><i nz-icon type="printer" theme="outline"></i>&nbsp; Print All</a>    
    <p class="period">Periode : {{startDate}} s/d {{endDate}}</p>
<nz-table #nzTable [nzData]="tableData" [nzShowPagination]="false" [nzPageSize]="10">
    <thead>
        <tr>
            <th>Nomor Surat Jalan</th>
            <th>Nama Penerima</th>
            <th>Alamat Penerima</th>
            <th>No Invoice</th>
            <th>Kode Kendaraan</th>
            <th>Kode Kurir</th>
            <th>Tgl Surat Jalan</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <tr>
                <td>{{data.noSuratJalan}}</td>
                <td>{{data.namaPenerima}}</td>
                <td>{{data.alamatPenerima}}</td>
                <td>{{data.invoice.noInvoice}}</td>
                <td>{{data.kendaraan.kodeKendaraan}}</td>
                <td>{{data.kurir.kodeKurir}}</td>
                <td>{{data.tglSuratJalan | date : 'dd-MM-yyyy'}}</td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>
</div>