<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>Nama Barang</nz-breadcrumb-item>
</nz-breadcrumb>
<a *ngIf="!isShowForm" (click)="showForm(null)" class="addIcon"><i nz-icon type="plus" theme="outline"></i>&nbsp; Tambah</a>
<!-- show form -->
<form *ngIf="isShowForm" nz-form [formGroup]="formData" (ngSubmit)="submitForm($event)">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="namaBarang" nzRequired><span>Nama Barang</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="namaBarang" formControlName="namaBarang">
            <nz-form-explain *ngIf="formData.get('namaBarang').dirty && formData.get('namaBarang').errors">
                <ng-container *ngIf="formData.get('namaBarang').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="satuan" nzRequired><span>Satuan</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="satuan" formControlName="satuan">
            <nz-form-explain *ngIf="formData.get('satuan').dirty && formData.get('satuan').errors">
                <ng-container *ngIf="formData.get('satuan').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="harga" nzRequired><span>Harga</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="harga" formControlName="harga">
            <nz-form-explain *ngIf="formData.get('harga').dirty && formData.get('harga').errors">
                <ng-container *ngIf="formData.get('harga').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="stok" nzRequired><span>Stok</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="stok" formControlName="stok">
            <nz-form-explain *ngIf="formData.get('stok').dirty && formData.get('stok').errors">
                <ng-container *ngIf="formData.get('stok').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="kodeModelBarang" nzRequired><span>Kode Model</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <nz-select id="kodeModelBarang" formControlName="kodeModelBarang">
                <nz-option *ngFor="let model of listModelType" nzLabel="{{model.kodeModelBarang}} - {{model.type}}" [nzValue]="model.kodeModelBarang"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="formData.get('kodeModelBarang').dirty && formData.get('kodeModelBarang').errors">
                <ng-container *ngIf="formData.get('stok').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button (click)="resetForm($event)" style="margin-right:10px;" class="ant-btn" [nzLoading]="loadingSubmit">Cancel</button>
            <button nz-button nzType="primary" [disabled]="!formData.valid" [nzLoading]="loadingSubmit">Save</button>
        </nz-form-control>
    </nz-form-item>
</form>

<!-- table data -->
<nz-table *ngIf="!isShowForm" #nzTable [nzData]="tableData" [nzPageSize]="10">
    <thead>
        <tr>
            <th>Kode Barang</th>
            <th>Nama Barang</th>
            <th>Type Barang</th>
            <th>Satuan</th>
            <th>Harga</th>
            <th>Stok</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <tr>
                <td>{{data.kodeBarang}}</td>
                <td>{{data.namaBarang}}</td>
                <td>{{data.modelBarang.type}}</td>
                <td>{{data.satuan}}</td>
                <td>{{data.harga}}</td>
                <td>{{data.stok}}</td>
                <td>
                    <a (click)="showForm(data)"><i nz-icon type="edit"></i></a>
                    <a nz-popconfirm nzTitle="Anda yakin ingin menghapus data ini?" (nzOnConfirm)="deleteData(data.kodeBarang)" (nzOnCancel)="cancelDelete()" nzPlacement="top"><i nz-icon nz-tooltip nzTitle="Delete" type="delete" style="color: red; margin-left: 5px;" theme="outline"></i></a>
                </td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>