<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>Menu Kendaraan</nz-breadcrumb-item>
</nz-breadcrumb>
<a *ngIf="!isShowForm" (click)="showForm(null)" class="addIcon"><i nz-icon type="plus" theme="outline"></i>&nbsp; Tambah</a>
<!-- show form -->
<form *ngIf="isShowForm" nz-form [formGroup]="formData" (ngSubmit)="submitForm($event)">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="typeKendaraan" nzRequired><span>Type Kendaraan</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="typeKendaraan" formControlName="typeKendaraan">
            <nz-form-explain *ngIf="formData.get('typeKendaraan').dirty && formData.get('typeKendaraan').errors">
                <ng-container *ngIf="formData.get('typeKendaraan').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="namaKendaraan" nzRequired><span>Nama Kendaraan</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="namaKendaraan" formControlName="namaKendaraan">
            <nz-form-explain *ngIf="formData.get('namaKendaraan').dirty && formData.get('namaKendaraan').errors">
                <ng-container *ngIf="formData.get('namaKendaraan').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nopol" nzRequired><span>No Polisi</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="nopol" formControlName="nopol">
            <nz-form-explain *ngIf="formData.get('nopol').dirty && formData.get('nopol').errors">
                <ng-container *ngIf="formData.get('nopol').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button (click)="resetForm($event)" style="margin-right:10px;" class="ant-btn" [nzLoading]="loadingSubmit">Cancel</button>
            <button nz-button nzType="primary" [disabled]="!formData.valid" [nzLoading]="loadingSubmit">Save</button>
        </nz-form-control>
    </nz-form-item>
</form>

<!-- table data -->
<nz-table *ngIf="!isShowForm" #nzTable [nzData]="tableData" [nzPageSize]="10">
    <thead>
        <tr>
            <th>Kode Kendaraan</th>
            <th>Type Kendaraan</th>
            <th>Nama Kendaraan</th>
            <th>No Polisi</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <tr>
                <td>{{data.kodeKendaraan}}</td>
                <td>{{data.typeKendaraan}}</td>
                <td>{{data.namaKendaraan}}</td>
                <td>{{data.nopol}}</td>
                <td>
                    <a (click)="showForm(data)"><i nz-icon type="edit"></i></a>
                    <a nz-popconfirm nzTitle="Anda yakin ingin menghapus data ini?" (nzOnConfirm)="deleteData(data.kodeKendaraan)" (nzOnCancel)="cancelDelete()" nzPlacement="top"><i nz-icon nz-tooltip nzTitle="Delete" type="delete" style="color: red; margin-left: 5px;" theme="outline"></i></a>
                </td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>