.titleLaporan{
    text-align: center; 
    padding-top: 100px;
}

.grand-total{
    float: right;
    padding-top: 50px; 
    padding-right: 100px;
}
.period{
    padding-left: 30px;
    margin-bottom: 0px;
    font-weight: bold;
}