<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>Menu User Name</nz-breadcrumb-item>
</nz-breadcrumb>
<a *ngIf="!isShowForm" (click)="showForm(null)" class="addIcon"><i nz-icon type="plus" theme="outline"></i>&nbsp; Tambah</a>
<!-- show form -->
<form *ngIf="isShowForm" nz-form [formGroup]="formData" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="userName" nzRequired><span>User Name</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="userName" formControlName="userName">
            <nz-form-explain *ngIf="formData.get('userName').dirty && formData.get('userName').errors">
                <ng-container *ngIf="formData.get('userName').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="fullName" nzRequired><span>Full Name</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="fullName" formControlName="fullName">
            <nz-form-explain *ngIf="formData.get('fullName').dirty && formData.get('fullName').errors">
                <ng-container *ngIf="formData.get('fullName').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="email" nzRequired><span>Email</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="email" formControlName="email">
            <nz-form-explain *ngIf="formData.get('email').dirty && formData.get('email').errors">
                <ng-container *ngIf="formData.get('email').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="3">
            <button nz-button nzType="primary" [disabled]="!formData.valid">Save</button>
        </nz-form-control>
    </nz-form-item>
</form>

<!-- table data -->
<nz-table *ngIf="!isShowForm" #nzTable [nzData]="tableData" [nzPageSize]="10">
    <thead>
        <tr>
            <th>Kode Model</th>
            <th>Model Barang</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <tr>
                <td>{{data.name}}</td>
                <td>{{data.age}}</td>
                <td>
                    <a (click)="showForm()"><i nz-icon type="edit"></i></a>
                    <a nz-popconfirm nzTitle="Anda yakin ingin menghapus data ini?" (nzOnConfirm)="deleteData(data.id)" (nzOnCancel)="cancelDelete()" nzPlacement="top"><i nz-icon nz-tooltip nzTitle="Delete" type="delete" style="color: red; margin-left: 5px;" theme="outline"></i></a>
                </td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>