<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>Menu List Pemesanan</nz-breadcrumb-item>
</nz-breadcrumb>
<!-- table data -->
<nz-table #nzTable [nzData]="tableData" [nzPageSize]="10">
    <thead>
        <tr>
            <th nzShowExpand></th>
            <th>No. Customer</th>
            <th>Nama Customer</th>
            <th>No. Pemesanan</th>
            <th>DP</th>
            <th>Grand Total</th>
            <th>Sisa Bayar</th>
            <th>Tgl Pemesanan</th>
            <!-- <th>Action</th> -->
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data let-index [ngForOf]="nzTable.data">
            <tr>
                <td nzShowExpand [(nzExpand)]="data.expand"></td>
                <td>{{data.pemesanan.customer.noCustomer}}</td>
                <td>{{data.pemesanan.customer.namaCustomer}}</td>
                <td>{{data.pemesanan.noPemesanan}}</td>
                <td>{{data.pemesanan.dp}}</td>
                <td>{{data.pemesanan.grandTotal}}</td>
                <td>{{data.pemesanan.sisaBayar}}</td>
                <td>{{data.pemesanan.tglPemesanan | date : 'dd-MM-yyyy'}}</td>
                <!-- <td>  
                  <a (click)="printData(data)"><i nz-icon type="printer"></i></a>                
                </td> -->
            </tr>
            <tr [nzExpand]="data.expand">
                <td></td>
                <td colspan="9">
                    <nz-table #innerTable [nzData]="data.detailPemesananList" nzSize="middle" [nzShowPagination]="false">
                      <thead>
                        <tr>
                          <th>Kode Barang</th>
                          <th>Nama Barang</th>
                          <th>Harga</th>
                          <th>Model Barang</th>
                          <th>Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of innerTable.data">
                          <td>{{data.barang.kodeBarang}}</td>
                          <td>{{data.barang.namaBarang}}</td>
                          <td>{{data.barang.harga}}</td>
                          <td>{{data.barang.modelBarang.kodeModelBarang}}</td>
                          <td>{{data.barang.modelBarang.type}}</td>
                        </tr>
                      </tbody>
                    </nz-table>
                </td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>