<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>Menu Pemesanan Barang</nz-breadcrumb-item>
</nz-breadcrumb>
<!-- <a *ngIf="!isShowForm" (click)="showForm(null)" class="addIcon"><i nz-icon type="plus" theme="outline"></i>&nbsp; Tambah</a> -->
<!-- show form -->
<form nz-form [formGroup]="formData" (ngSubmit)="addData($event)">
    
    <nz-form-item>
        <nz-form-label [nzSm]="3" [nzXs]="10" nzFor="kodeBarang" nzRequired><span>Kode Barang</span></nz-form-label>
        <nz-form-control [nzSm]="5" [nzXs]="10">
            <nz-select id="kodeBarang" formControlName="kodeBarang" nzPlaceHolder="Kode Barang" (ngModelChange)="selectBarang($event, index)">
                <nz-option *ngFor="let barang of listBarang" [nzLabel]="barang.kodeBarang" [nzValue]="barang.kodeBarang"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="formData.get('kodeBarang').dirty && formData.get('kodeBarang').errors">
                <ng-container *ngIf="formData.get('kodeBarang').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
        <nz-form-label [nzSm]="4" [nzXs]="10" nzFor="jmlPemesanan" nzRequired><span>Jumlah Pemesanan</span></nz-form-label>
        <nz-form-control [nzSm]="5" [nzXs]="10">
            <input nz-input id="jmlPemesanan" formControlName="jmlPemesanan" type="number">
            <nz-form-explain *ngIf="formData.get('jmlPemesanan').dirty && formData.get('jmlPemesanan').errors">
                <ng-container *ngIf="formData.get('jmlPemesanan').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
            <nz-form-label [nzSm]="3" [nzXs]="10" nzFor="namaBarang" nzRequired><span>Nama Barang</span></nz-form-label>
            <nz-form-control [nzSm]="5" [nzXs]="10">
                <input nz-input id="namaBarang" formControlName="namaBarang" type="text" readonly>
                <nz-form-explain *ngIf="formData.get('namaBarang').dirty && formData.get('namaBarang').errors">
                    <ng-container *ngIf="formData.get('namaBarang').hasError('required')">
                        This field is required
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
            <nz-form-label [nzSm]="4" [nzXs]="10" nzFor="ketBarang" nzRequired><span>Keterangan Barang</span></nz-form-label>
            <nz-form-control [nzSm]="5" [nzXs]="10">
                <input nz-input id="ketBarang" formControlName="ketBarang" type="text">
                <nz-form-explain *ngIf="formData.get('ketBarang').dirty && formData.get('ketBarang').errors">
                    <ng-container *ngIf="formData.get('ketBarang').hasError('required')">
                        This field is required
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
    </nz-form-item>
    <!-- <nz-form-item>
            <nz-form-label [nzSm]="3" [nzXs]="10" nzFor="harga" nzRequired><span>Harga barang</span></nz-form-label>
            <nz-form-control [nzSm]="5" [nzXs]="10">
                <input nz-input id="harga" formControlName="harga" type="number" readonly>
                <nz-form-explain *ngIf="formData.get('harga').dirty && formData.get('harga').errors">
                    <ng-container *ngIf="formData.get('harga').hasError('required')">
                        This field is required
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
    </nz-form-item> -->
    <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="3">
            <button nz-button nzType="primary" [disabled]="!formData.valid">Tambah</button>
        </nz-form-control>
    </nz-form-item>
</form>

<!-- table data -->
<div class="tableTemp">
<nz-table #nzTable [nzData]="tableData" [nzPageSize]="10">
        <thead>
            <tr>
                <th>Kode Barang</th>
                <th>Nama Barang</th>
                <!-- <th>Harga Barang</th> -->
                <th>Keterangan Barang</th>
                <th>Jumlah Pesanan</th>
                <!-- <th>Harga Total</th> -->
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-data [ngForOf]="nzTable.data">
                <tr>
                    <td>{{data.kodeBarang}}</td>
                    <td>{{data.namaBarang}}</td>
                    <!-- <td>{{data.harga}}</td> -->
                    <td>{{data.ketBarang}}</td>
                    <td>{{data.jmlPemesanan}}</td>
                    <!-- <td>{{data.hargaTotal}}</td> -->
                    <td>
                        <a (click)="showForm(data)"><i nz-icon type="edit"></i></a>
                        <a nz-popconfirm nzTitle="Anda yakin ingin menghapus data ini?" (nzOnConfirm)="deleteData(data.kodeBarang)" (nzOnCancel)="cancelDelete()" nzPlacement="top"><i nz-icon nz-tooltip nzTitle="Delete" type="delete" style="color: red; margin-left: 5px;" theme="outline"></i></a>
                    </td>
                </tr>
            </ng-template>
        </tbody>
</nz-table>
<br>
<br>

<nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="10" nzFor="noCustomer" nzRequired><span>No Customer</span></nz-form-label>
        <nz-form-control [nzSm]="6" [nzXs]="10" >
            <nz-select id="noCustomer" [(ngModel)]="noCustomer" style="width: 250px;" nzPlaceHolder="No Customer" (ngModelChange)="selectCustomer($event, index)">
                <nz-option *ngFor="let customer of listCustomer" [nzLabel]="customer.noCustomer" [nzValue]="customer.noCustomer"></nz-option>
            </nz-select>       
        </nz-form-control>
    <nz-form-label [nzSm]="3" [nzXs]="10" nzFor="namaCustomer" nzRequired><span>Nama Customer</span></nz-form-label>
        <nz-form-control [nzSm]="5" [nzXs]="10">
            <input nz-input id="namaCustomer" [(ngModel)]="namaCustomer" readonly>
    </nz-form-control>
</nz-form-item>
<nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="10" nzFor="tglPemesanan" nzRequired><span>Tgl Pemesanan</span></nz-form-label>
        <nz-form-control [nzSm]="6" [nzXs]="10">
            <nz-date-picker [nzFormat]="dd-MM-yyyy" (ngModelChange)="selectDate()" [(ngModel)]="tglPemesanan" id="tglPemesanan"></nz-date-picker>
        </nz-form-control>
    <nz-form-label [nzSm]="3" [nzXs]="10" nzFor="dp" nzRequired><span>DP</span></nz-form-label>
    <nz-form-control [nzSm]="5" [nzXs]="10">
        <input nz-input id="dp" [(ngModel)]="dp" type="number" (keyup)="changeDP()">
    </nz-form-control>
</nz-form-item>
<nz-form-item>
        <!-- <nz-form-label [nzSm]="3" [nzXs]="10" nzFor="sisaBayar" nzRequired><span>Sisa Bayar</span></nz-form-label>
        <nz-form-control [nzSm]="6" [nzXs]="10">
                <input nz-input id="sisaBayar" [(ngModel)]="sisaBayar" readonly>
        </nz-form-control> -->
        <nz-form-label [nzSm]="3" [nzXs]="10" nzFor="grandTotal" nzRequired><span>Grand Total</span></nz-form-label>
        <nz-form-control [nzSm]="5" [nzXs]="10">
                <input nz-input id="grandTotal" [(ngModel)]="grandTotal" readonly>
        </nz-form-control>
</nz-form-item>
</div>

<nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="14" [nzOffset]="3">
        <button nz-button nzType="primary" [disabled]="invalidData" [nzLoading]="loadingSubmit" (click)="submitForm($event)">Save</button>
    </nz-form-control>
</nz-form-item>

<!-- table data -->
<!-- <nz-table #nzTable [nzData]="tableData" [nzPageSize]="10">
    <thead>
        <tr>
            <th>No. Customer</th>
            <th>Nama Customer</th>
            <th>No. Pemesanan</th>
            <th>DP</th>
            <th>Grand Total</th>
            <th>Sisa Bayar</th>
            <th>Tgl Pemesanan</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <tr>
                <td>{{data.customer.kodeBarang}}</td>
                <td>{{data.customer.namaCustomer}}</td>
                <td>{{data.noPemesanan}}</td>
                <td>{{data.dp}}</td>
                <td>{{data.grandTotal}}</td>
                <td>{{data.sisaBayar}}</td>
                <td>{{data.tglPemesanan | date : 'dd-MM-yyyy'}}</td>
                <td>
                    <a (click)="showForm()"><i nz-icon type="edit"></i></a>
                    <a nz-popconfirm nzTitle="Anda yakin ingin menghapus data ini?" (nzOnConfirm)="deleteData(data.id)" (nzOnCancel)="cancelDelete()" nzPlacement="top"><i nz-icon nz-tooltip nzTitle="Delete" type="delete" style="color: red; margin-left: 5px;" theme="outline"></i></a>
                </td>
            </tr>
        </ng-template>
    </tbody>
</nz-table> -->
