.login-form {
    max-width: 300px;
    margin: auto;
    margin-top: 20%;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.login-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}