<div class="login-form">
    <p class="login-title">
        Login
    </p>
    <form nz-form [formGroup]="formData" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-control>
                <nz-input-group [nzPrefix]="prefixUser">
                    <input type="text" nz-input formControlName="username" placeholder="username">
                </nz-input-group>
                <nz-form-explain *ngIf="formData.get('username').dirty && formData.get('username').errors">
                    <ng-container *ngIf="formData.get('username').hasError('required')">
                        This field is required
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <nz-input-group [nzPrefix]="prefixLock">
                    <input type="password" nz-input formControlName="password" placeholder="Password">
                </nz-input-group>
                <nz-form-explain *ngIf="formData.get('password').dirty && formData.get('password').errors">
                    <ng-container *ngIf="formData.get('password').hasError('required')">
                        This field is required
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button [disabled]="!formData.valid" nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
            </nz-form-control>
        </nz-form-item>
    </form>
    <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
    <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
</div>