<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>Menu Surat Jalan</nz-breadcrumb-item>
</nz-breadcrumb>
<a *ngIf="!isShowForm" (click)="showForm(null)" class="addIcon"><i nz-icon type="plus" theme="outline"></i>&nbsp; Tambah</a>
<!-- show form -->
<form *ngIf="isShowForm" nz-form [formGroup]="formData" (ngSubmit)="submitForm($event)">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tglSuratJalan" nzRequired><span>Tgl Surat Jalan</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <nz-date-picker [nzFormat]="dateFormat" id="tglSuratJalan" formControlName="tglSuratJalan"></nz-date-picker>
            <nz-form-explain *ngIf="formData.get('tglSuratJalan').dirty && formData.get('tglSuratJalan').errors">
                <ng-container *ngIf="formData.get('tglSuratJalan').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="namaPenerima" nzRequired><span>Nama Penerima</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="namaPenerima" formControlName="namaPenerima">
            <nz-form-explain *ngIf="formData.get('namaPenerima').dirty && formData.get('namaPenerima').errors">
                <ng-container *ngIf="formData.get('namaPenerima').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="alamatPenerima" nzRequired><span>Alamat Penerima</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="alamatPenerima" formControlName="alamatPenerima">
            <nz-form-explain *ngIf="formData.get('alamatPenerima').dirty && formData.get('alamatPenerima').errors">
                <ng-container *ngIf="formData.get('alamatPenerima').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="noInvoice" nzRequired><span>No Invoice</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <nz-select id="noInvoice" formControlName="noInvoice">
                <nz-option *ngFor="let invoice of invoiceList" nzLabel="{{invoice.noInvoice}}" nzValue="{{invoice.noInvoice}}"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="formData.get('noInvoice').dirty && formData.get('noInvoice').errors">
                <ng-container *ngIf="formData.get('noInvoice').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="kodeKendaraan" nzRequired><span>Kode Kendaraan</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <nz-select id="kodeKendaraan" formControlName="kodeKendaraan">
                <nz-option *ngFor="let kendaraan of kendaraanList" nzLabel="{{kendaraan.kodeKendaraan}} - {{kendaraan.namaKendaraan}}" nzValue="{{kendaraan.kodeKendaraan}}"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="formData.get('kodeKendaraan').dirty && formData.get('kodeKendaraan').errors">
                <ng-container *ngIf="formData.get('kodeKendaraan').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="kodeKurir" nzRequired><span>Kode Kurir</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <nz-select id="kodeKurir" formControlName="kodeKurir">
                <nz-option *ngFor="let kurir of kurirList" nzLabel="{{kurir.kodeKurir}} - {{kurir.namaKurir}}" nzValue="{{kurir.kodeKurir}}"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="formData.get('kodeKurir').dirty && formData.get('kodeKurir').errors">
                <ng-container *ngIf="formData.get('kodeKurir').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button (click)="resetForm($event)" style="margin-right:10px;" class="ant-btn" [nzLoading]="loadingSubmit">Cancel</button>
            <button nz-button nzType="primary" [disabled]="!formData.valid">Save</button>
        </nz-form-control>
    </nz-form-item>
</form>

<!-- table data -->
<nz-table *ngIf="!isShowForm" #nzTable [nzData]="tableData" [nzPageSize]="10">
    <thead>
        <tr>
            <th>Nomor Surat Jalan</th>
            <th>Nama Penerima</th>
            <th>Alamat Penerima</th>
            <th>No Invoice</th>
            <th>Kode Kendaraan</th>
            <th>Kode Kurir</th>
            <th>Tgl Surat Jalan</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <tr>
                <td>{{data.noSuratJalan}}</td>
                <td>{{data.namaPenerima}}</td>
                <td>{{data.alamatPenerima}}</td>
                <td>{{data.invoice.noInvoice}}</td>
                <td>{{data.kendaraan.kodeKendaraan}}</td>
                <td>{{data.kurir.kodeKurir}}</td>
                <td>{{data.tglSuratJalan | date : 'dd-MM-yyyy'}}</td>
                <td>
                    <a (click)="printData(data)"><i nz-icon type="printer"></i></a>                
                </td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>