<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>Menu Bukti Terima</nz-breadcrumb-item>
</nz-breadcrumb>
<!-- <a (click)="printData(null)" class="addIcon"><i nz-icon type="printer" theme="outline"></i>&nbsp; Print All</a> -->
<!-- table data -->
<nz-table #nzTable [nzData]="tableData" [nzPageSize]="10">
    <thead>
        <tr>
            <th>Tgl Bukti Terima</th>
            <th>No Bukti Terima</th>
            <th>No Surat Jalan</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <tr>
                <td>{{data.tglReceipt | date : 'dd-MM-yyyy'}}</td>
                <td>{{data.noReceipt}}</td>
                <td>{{data.suratJalan.noSuratJalan}}</td>
                <td>
                    <a (click)="printData(data)"><i nz-icon type="printer"></i></a>
                    <!-- <a nz-popconfirm nzTitle="Anda yakin ingin menghapus data ini?" (nzOnConfirm)="deleteData(data.id)" (nzOnCancel)="cancelDelete()" nzPlacement="top"><i nz-icon nz-tooltip nzTitle="Delete" type="delete" style="color: red; margin-left: 5px;" theme="outline"></i></a> -->
                </td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>