<nz-layout style="height:100%">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="profile">
      <nz-avatar nzSrc="assets/logo.png" nzSize="large" [ngStyle]="{'background-color':'#ffffff'}" style="vertical-align: middle;"></nz-avatar>
      <small [ngClass]="isCollapsed ? 'fullname-hide':'fullname'">{{username}}</small>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let menu of menuData">
        <li nz-menu-item *ngIf="!menu.childMenu" [routerLink]="menu.routerLink">
          <span title><i nz-icon [type]="menu.icon"></i><span class="nav-text">{{menu.parentMenu}}</span></span>
        </li>
        <li nz-submenu *ngIf="menu.childMenu">
          <span title><i nz-icon [type]="menu.icon"></i><span class="nav-text">{{menu.parentMenu}}</span></span>
          <ul>
            <div *ngFor="let childMenu of menu.childMenu">
              <li nz-menu-item [routerLink]="childMenu.routerLink" routerLinkActive="ant-menu-item-selected">{{childMenu.name}}</li>
            </div>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <router-outlet></router-outlet>
      <!-- <nz-footer style="text-align: center;">Intijaya KKP ©2019 Implement By Team KKP</nz-footer> -->
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>
