:host ::ng-deep .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  
    .fullname {
      display: none;
      opacity: 0;
    }
  }
  
  :host ::ng-deep .trigger:hover {
    color: #DF6E21;
  }

  :host ::ng-deep .logo {
    height: 32px;
    margin: 20px;
  }
  
  .profile {
    color: white;
    height: 32px;
    margin: 20px;
  }
  
  .fullname {
    font-size: 14px;  
    transition: opacity .3s cubic-bezier(.645, .045, .355, 1), width .3s cubic-bezier(.645, .045, .355, 1);
    display: inline-block !important;
    white-space: nowrap;
    margin-left: 10px;
  }
  
  .fullname-hide {
    opacity: 0;
    max-width: 0;
    transition: opacity .3s cubic-bezier(.645, .045, .355, 1), width .3s cubic-bezier(.645, .045, .355, 1);
    display: inline-block !important;
    white-space: nowrap;
    position: absolute !important;
    margin-top: 10px !important;
}