<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>Menu Retur Barang</nz-breadcrumb-item>
</nz-breadcrumb>
<a *ngIf="!isShowForm" (click)="showForm(null)" class="addIcon"><i nz-icon type="plus" theme="outline"></i>&nbsp; Tambah</a>
<!-- show form -->
<form *ngIf="isShowForm" nz-form [formGroup]="formData" (ngSubmit)="submitForm($event)">
    <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tglRetur" nzRequired><span>Tgl Retur</span></nz-form-label>
            <nz-form-control [nzSm]="10" [nzXs]="14">
                <nz-date-picker [nzFormat]="dateFormat" id="tglRetur" formControlName="tglRetur"></nz-date-picker>
                <nz-form-explain *ngIf="formData.get('tglRetur').dirty && formData.get('tglRetur').errors">
                    <ng-container *ngIf="formData.get('tglRetur').hasError('required')">
                            This field is required
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
    </nz-form-item>
    <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="noReceipt" nzRequired><span>No Bukti Terima</span></nz-form-label>
            <nz-form-control [nzSm]="10" [nzXs]="14">
                <nz-select id="noReceipt" formControlName="noReceipt">
                   <nz-option *ngFor="let bukti of listBuktiTerima" [nzLabel]="bukti.noReceipt" [nzValue]="bukti.noReceipt"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="formData.get('noReceipt').dirty && formData.get('noReceipt').errors">
                    <ng-container *ngIf="formData.get('noReceipt').hasError('required')">
                            This field is required
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
    </nz-form-item>
    <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="kodeBarang" nzRequired><span>Kode Barang</span></nz-form-label>
            <nz-form-control [nzSm]="10" [nzXs]="14">
                <nz-select id="kodeBarang" formControlName="kodeBarang">
                    <nz-option *ngFor="let barang of listBarang" nzLabel="{{barang.kodeBarang}} - {{barang.namaBarang}}" [nzValue]="barang.kodeBarang"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="formData.get('kodeBarang').dirty && formData.get('kodeBarang').errors">
                    <ng-container *ngIf="formData.get('kodeBarang').hasError('required')">
                        This field is required
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
    </nz-form-item>
    <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="jmlRetur" nzRequired><span>Jumlah Retur</span></nz-form-label>
            <nz-form-control [nzSm]="10" [nzXs]="14">
                <input nz-input id="jmlRetur" formControlName="jmlRetur">
                <nz-form-explain *ngIf="formData.get('jmlRetur').dirty && formData.get('jmlRetur').errors">
                    <ng-container *ngIf="formData.get('jmlRetur').hasError('required')">
                        This field is required
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
    </nz-form-item>
    <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="ketRetur" nzRequired><span>Keterangan Retur</span></nz-form-label>
            <nz-form-control [nzSm]="10" [nzXs]="14">
                <input nz-input id="ketRetur" formControlName="ketRetur">
                <nz-form-explain *ngIf="formData.get('ketRetur').dirty && formData.get('ketRetur').errors">
                    <ng-container *ngIf="formData.get('ketRetur').hasError('required')">
                        This field is required
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button (click)="resetForm($event)" style="margin-right:10px;" class="ant-btn" [nzLoading]="loadingSubmit">Cancel</button>
            <button nz-button nzType="primary" [disabled]="!formData.valid">Save</button>
        </nz-form-control>
    </nz-form-item>
</form>

<!-- table data -->
<nz-table *ngIf="!isShowForm" #nzTable [nzData]="tableData" [nzPageSize]="10">
    <thead>
        <tr>
            <th>Tgl Retur</th>
            <th>Tgl Terima Barang</th>
            <th>No Surat Jalan</th>
            <th>Jumlah Retur</th>
            <th>Keterangan Retur</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <tr>
                <td>{{data.tglRetur | date : 'dd-MM-yyyy'}}</td>
                <td>{{data.receipt.noReceipt}}</td>
                <td>{{data.receipt.suratJalan.noSuratJalan}}</td>
                <td>{{data.jmlRetur}}</td>
                <td>{{data.ketRetur}}</td>
                <td>
                    <a (click)="printData(data)"><i nz-icon type="printer"></i></a>                
                </td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>