<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>Menu Laporan Retur Barang</nz-breadcrumb-item>
</nz-breadcrumb>
<!-- show form -->
<form nz-form [formGroup]="formData" (ngSubmit)="submitForm($event)">
    <nz-form-item>
        <nz-form-label [nzSm]="5" [nzXs]="10" nzFor="startDate" nzRequired><span>Start Date</span></nz-form-label>
        <nz-form-control [nzSm]="5" [nzXs]="10">
            <nz-date-picker [nzFormat]="yyyy-MM-dd" id="startDate" formControlName="startDate"></nz-date-picker>
            <nz-form-explain *ngIf="formData.get('startDate').dirty && formData.get('startDate').errors">
                <ng-container *ngIf="formData.get('startDate').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
        <nz-form-label [nzSm]="2" [nzXs]="10" nzFor="endDate" nzRequired><span>End Date</span></nz-form-label>
        <nz-form-control [nzSm]="5" [nzXs]="10">
            <nz-date-picker [nzFormat]="yyyy-MM-dd" id="endDate" formControlName="endDate"></nz-date-picker>
            <nz-form-explain *ngIf="formData.get('endDate').dirty && formData.get('endDate').errors">
                <ng-container *ngIf="formData.get('endDate').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
        <nz-form-control [nzSm]="2" [nzXs]="10">
            <nz-form-control [nzSm]="5" [nzXs]="10" [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary" [disabled]="!formData.valid">Cari</button>
            </nz-form-control>
        </nz-form-control>
    </nz-form-item>
</form>


<!-- table data -->
<div id="contentToPDF" *ngIf="showTable">
    <h1 class="titleLaporan">Laporan Retur Barang</h1>
    <a (click)="printData()" class="addIcon"><i nz-icon type="printer" theme="outline"></i>&nbsp; Print All</a>
    <p class="period">Periode : {{startDate}} s/d {{endDate}}</p>
<nz-table #nzTable [nzData]="tableData" [nzShowPagination]="false" [nzPageSize]="10">
    <thead>
        <tr>
            <th>Tgl Retur</th>
            <th>No Receipt</th>
            <th>No Surat Jalan</th>
            <th>Jumlah Retur</th>
            <th>Keterangan Retur</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <tr>
                <td>{{data.tglRetur | date: 'dd-MM-yyyy'}}</td>
                <td>{{data.receipt.noReceipt}}</td>
                <td>{{data.receipt.suratJalan.noSuratJalan}}</td>
                <td>{{data.jmlRetur}}</td>
                <td>{{data.ketRetur}}</td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>
</div>