<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>Menu Invoice</nz-breadcrumb-item>
</nz-breadcrumb>
<!-- table data -->
<nz-table #nzTable [nzData]="tableData" [nzPageSize]="10">
    <thead>
        <tr>
            <th nzShowExpand></th>
            <th>No. Customer</th>
            <th>Nama Customer</th>
            <th>No. Invoice</th>
            <th>DP</th>
            <th>Grand Total</th>
            <th>Sisa Bayar</th>
            <th>Tgl Invoice</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data let-index [ngForOf]="nzTable.data">
            <tr>
                <td nzShowExpand [(nzExpand)]="data.expand"></td>
                <td>{{data.invoice.pemesanan.customer.noCustomer}}</td>
                <td>{{data.invoice.pemesanan.customer.namaCustomer}}</td>
                <td>{{data.invoice.noInvoice}}</td>
                <td>{{data.invoice.pemesanan.dp}}</td>
                <td>{{data.invoice.pemesanan.grandTotal}}</td>
                <td>{{data.invoice.pemesanan.sisaBayar}}</td>
                <td>{{data.invoice.tglInvoice | date : 'dd-MM-yyyy'}}</td>
                <td>  
                  <a (click)="printData(data)"><i nz-icon type="printer"></i></a>                
                </td>
            </tr>
            <tr [nzExpand]="data.expand">
                <td></td>
                <td colspan="9">
                    <nz-table #innerTable [nzData]="data.detailInvoiceList" nzSize="middle" [nzShowPagination]="false">
                      <thead>
                        <tr>
                          <th>Kode Barang</th>
                          <th>Nama Barang</th>
                          <th>Harga</th>
                          <th>Quantity</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of innerTable.data">
                          <td>{{data.kodeBarang}}</td>
                          <td>{{data.namaBarang}}</td>
                          <td>{{data.hargaBarang}}</td>
                          <td>{{data.quantity}}</td>
                        </tr>
                      </tbody>
                    </nz-table>
                </td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>