/* You can add global styles to this file, and also import other style files */


  .ant-menu-dark, .ant-menu-dark .ant-menu-sub{
    background: #DF6E21 !important;
  }

  .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
    background-color: #2096BA;
  }

  .ant-menu-dark .ant-menu-inline.ant-menu-sub{
    background: #DF6E21 !important;
  }
  
  .ant-layout-sider {
    background-color: #DF6E21;
  }

  .ant-table-wrapper{
    padding-top:20px;
  }

  .addIcon{
    float: right;
    margin-bottom: 20px;
  }