<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>Menu Customer</nz-breadcrumb-item>
</nz-breadcrumb>
<a *ngIf="!isShowForm" (click)="showForm(null)" class="addIcon"><i nz-icon type="plus" theme="outline"></i>&nbsp; Tambah</a>
<!-- show form -->
<form *ngIf="isShowForm" nz-form [formGroup]="formData" (ngSubmit)="submitForm($event)">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="namaCustomer" nzRequired><span>Nama Customer</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="namaCustomer" formControlName="namaCustomer">
            <nz-form-explain *ngIf="formData.get('namaCustomer').dirty && formData.get('namaCustomer').errors">
                <ng-container *ngIf="formData.get('namaCustomer').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="alamat" nzRequired><span>Alamat</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="alamat" formControlName="alamat">
            <nz-form-explain *ngIf="formData.get('alamat').dirty && formData.get('alamat').errors">
                <ng-container *ngIf="formData.get('alamat').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="noHp" nzRequired><span>No Hp</span></nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="14">
            <input nz-input id="noHp" formControlName="noHp">
            <nz-form-explain *ngIf="formData.get('noHp').dirty && formData.get('noHp').errors">
                <ng-container *ngIf="formData.get('noHp').hasError('required')">
                    This field is required
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button (click)="resetForm($event)" style="margin-right:10px;" class="ant-btn" [nzLoading]="loadingSubmit">Cancel</button>
            <button nz-button nzType="primary" [disabled]="!formData.valid" [nzLoading]="loadingSubmit">Save</button>
        </nz-form-control>
    </nz-form-item>
</form>

<!-- table data -->
<nz-table *ngIf="!isShowForm" #nzTable [nzData]="tableData" [nzPageSize]="10">
    <thead>
        <tr>
            <th>Nama Customer</th>
            <th>Alamat</th>
            <th>No Hp</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <tr>
                <td>{{data.namaCustomer}}</td>
                <td>{{data.alamat}}</td>
                <td>{{data.noHp}}</td>
                <td>
                    <a (click)="showForm(data)"><i nz-icon type="edit"></i></a>
                    <a nz-popconfirm nzTitle="Anda yakin ingin menghapus data ini?" (nzOnConfirm)="deleteData(data.noCustomer)" (nzOnCancel)="cancelDelete()" nzPlacement="top"><i nz-icon nz-tooltip nzTitle="Delete" type="delete" style="color: red; margin-left: 5px;" theme="outline"></i></a>
                </td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>